<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Главная страница</title>
    </head>
    <body>
        <h1>Список игроков, доступных на сайте</h1>
        {% for player in players %}
        <h3>
                Игрок: {{ player.name }}, родился: {{ player.birth|date:"d M Y" }}
        </h3>
        <p>{{ player.info|linebreaksbr }}</p>
        <hr>
        {% endfor %}
    </body>
</html>